<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<header> <% include partials/_header %> </header>
 <h1> These are the shorten verison of the full links. </h1>
    <% for (var urlsid in urlDatabase) { %>
    <li>
      <a href="/urls/<%= urlsid %>"><%= urlsid %></a>  -----------> <a href ="<%= urlDatabase[urlsid].url %>">  <%= urlDatabase[urlsid].url %> </a>
      <form method="POST" action="/urls/<%= urlsid %>/delete">
        <button type="submit" name="delete">Delete</button>
      </form>
      <form method="GET" action="/urls/<%= urlsid %>">
      <button type="submit" name="update">Update</button></form>
      </li>
    <% } %>
    <p> Add new shorten URL <a href="/urls/new">here!</a>
</body>
</html>